body {
    background-color: rgba(246,246,246,255);
    color: rgb(0, 0, 0);
    text-align: center;
}

#navigation-bar {
    width: 100%;
    text-align: center;
}

#navigation-bar li {
    display: inline-block;
    margin-right: 45px;
    border: 1px solid #000;
}

#navigation-bar a {
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #009;
}

#navigation-bar a:hover {
    background-color: #009;
    color: #fff;
}

table {
    display: block;
    table-layout: fixed;
    float: right;
    width: 700px;
    margin-right: 10%;
}
td{
    width: 100px;
}
th{
    width: 100px; background-color: rgb(240, 240, 240); text-align: center;
}
h3{
    clear: both;
    padding-top: 30px;
}
.center{
    align-content: left;
    text-align: left;
    padding-left: 30%;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .make-customization {
    width: 50%;
    margin-right: auto;
    margin-left: 0;
  }
  
  .my-customizations {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
  }
  
  #table2{
    width: 500px;
    display: block;
    table-layout: fixed;
    float: right;
    margin-right: 10%;
  }